<div class="bm-posts" >
    <div  id="masonry"  class="bm-grid clearfix" data-columns>
        {% for post in posts %}
            <div class="bm-grid-item" {% if post.animate %}animate="{{post.animate}}"{% endif %}>
                <div class="bm-grid-item-body animated">
                    {% include template('extension/d_blog_module/post_thumb') with post %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="bm-pagination clearfix">
        <div class="row">
            <div class="col-sm-6 text-left">{{pagination}}</div>
            <div class="col-sm-6 text-right">{{results}}</div>
        </div>
    </div>
</div>
<style>
#masonry[data-columns]::before {
    content: '{{attribute(posts, 0).col_count}} .column.size-1of{{attribute(posts, 0).col_count}}';
}
</style>