{% if categories %}
<div class="list-group bm bm-module bm-category">
    {% for category in categories %}
        {% if category.selected %}
            <a href="{{category.href}}" class="list-group-item active">{{category.title}}</a>
            {% else %}
            <a href="{{category.href}}" class="list-group-item">{{category.title}}</a>
        {% endif %}
        {% for child in category.children %}
            {% if category.selected %}
                <a href="{{child.href}}" class="list-group-item active">&nbsp;&nbsp;&nbsp;- {{child.title}}</a>
            {% else %}
                <a href="{{child.href}}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{child.title}}</a>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endif %}